.main {
  margin-bottom: 50px;
}

.main h2 {
  font-size: 2rem;
}

.main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
}

.design-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.design-row:last-child {
  border-bottom: none;
}

.design-row-image-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.design-image {
  width: 100px;
}

.items-container {
  height: 450px;
  overflow-y: auto;
  width: 600px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.items-container .remove-button {
  padding: 2px 5px;
  font-size: 1rem;
  background-color: var(--color-danger);
}

.main .to-library,
.success-message .to-library {
  background-color: initial;
  color: black;
  width: 230px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.main .to-library {
  font-size: 1rem;
  padding: 5px;
  border-width: 1px;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-icon {
  font-size: 3rem;
  color: var(--color-alpha);
}

.empty-cart-message {
  color: gray;
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .main-flex {
    flex-direction: column;
    align-items: center;
  }

  .items-container {
    width: 300px;
  }
}
