.main {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.design-row {
  display: flex;
  align-items: center;
}

.design-image {
  width: 100px;
}

.items-container .remove-button {
  padding: 2px 5px;
  font-size: 1rem;
  background-color: var(--color-danger);
}

.main .to-library,
.success-message .to-library {
  background-color: initial;
  color: black;
  width: 230px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-icon {
  font-size: 3rem;
  color: var(--color-alpha);
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
