.bg {
  background-color: rgb(194, 194, 194);
}

.main-flex {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.library-text {
  margin: 30px 0;
}

.library-info-container {
  margin-left: 150px;
}

.library-name {
  font-size: 1.825rem;
}

.library-info-container .choose-library {
  display: none;
}

.toggle-switch-container {
  text-align: center;
  margin: 10px 0;
}

.library-subtext {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
}

.search-container {
  background-color: white;
  padding: 10px;
  flex: 1;
  max-width: 1024px;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
  position: relative;
}

.settings-subcontainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.library-switcher-container {
  font-size: 1.25rem;
  margin-right: 5px;
}

.library-switcher-container input[type="radio"] {
  scale: 125%;
  margin: 5px;
}

.settings-subcontainer .settings-button,
.settings-subcontainer .control-button {
  padding: 10px;
  font-size: var(--size-16);
  gap: 5px;
  cursor: pointer;
}

.settings-subcontainer .control-button {
  display: flex;
  align-items: center;
}

.settings-subcontainer .control-button span i {
  margin-right: 5px;
}

.settings-container .compare-button.stop {
  background-color: white;
  color: var(--color-alpha);
  border: 2px solid var(--color-alpha);
  font-weight: bold;
  padding: 9px;
}

.settings-subcontainer .settings-button {
  display: none;
}

.searching-for-keywords {
  color: var(--color-alpha);
}

.searching-for-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.searching-for-area i {
  display: block;
}

.searching-for-area button {
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: var(--size-16);
}

@media screen and (max-width: 1200px) {
  .settings-subcontainer .settings-button {
    display: flex;
  }

  .library-info-container {
    margin-left: initial;
  }

  .library-info-container .library-name {
    display: none;
  }

  .library-info-container .choose-library {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .searching-for-area {
    flex-direction: column;
    gap: 0;
  }
}
