.main-flex {
  display: flex;
  gap: 40px;
  position: relative;
  padding: 30px;
  justify-content: center;
}

.main-img-container {
  position: relative;
}

.main-img {
  width: 500px;
  scale: 95%; /* temporary to show background color underneath */
}

.gallery-slider {
  width: 440px;
  overflow: hidden;
  white-space: nowrap;
}

.gallery-slider img {
  height: 105px;
  margin-right: 10px;
}

.gallery-slider-container {
  display: flex;
  justify-content: space-between;
}

.gallery-slider-button {
  font-size: var(--size-20);
  cursor: pointer;
}

.gallery-slider-button i {
  scale: 250% 380%;
}

.bg-color-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.bg-color-button {
  display: flex;
  background: none;
  border: 3px solid var(--color-alpha);
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: initial;
  cursor: pointer;
  position: relative;
}

.try-design-button {
  width: 200px;
  margin: auto;
  padding: 15px;
}

.bg-color-button img {
  display: block;
}

.details-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  color: var(--color-alpha);
  margin-bottom: 5px;
}

.heading,
.subheading {
  text-align: center;
}

.subheading {
  margin-top: 0;
  font-weight: 700;
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  padding: 15px;
}

.left-button {
  left: 0;
  translate: -70% -50%;
}

.right-button {
  right: 0;
  translate: 70% -50%;
}

.color-picker {
  position: absolute;
  opacity: 0;
  left: 50%;
  translate: -50% 0;
  scale: 340% 180%;
  cursor: pointer;
}

.filters-tags-container div {
  margin: 10px 0;
}

.filters-tags-container p {
  margin-top: 0;
  margin-bottom: 0;
}
