.main-flex {
  display: flex;
  gap: 40px;
  position: relative;
  padding: 30px;
  justify-content: center;
}

.bg-color-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.bg-color-button {
  display: flex;
  background: none;
  border: 3px solid var(--color-alpha);
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: initial;
  cursor: pointer;
  position: relative;
}

.try-design-button {
  width: 200px;
  margin: auto;
  padding: 15px;
}

.bg-color-button img {
  display: block;
}

.details-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

.heading {
  color: var(--color-alpha);
  margin-bottom: 5px;
}

.heading,
.subheading {
  text-align: center;
}

.subheading {
  margin-top: 0;
  font-weight: 700;
}

.gallery-container {
  flex: 4;
  height: 520px;
}

.design-image {
  width: 520px;
}

.color-picker {
  position: absolute;
  opacity: 0;
  left: 50%;
  translate: -50% 0;
  scale: 340% 180%;
  cursor: pointer;
}

.filters-tags-container div {
  margin: 10px 0;
}

.filters-tags-container p {
  margin-top: 0;
  margin-bottom: 0;
}
