.design-card {
  background-color: initial;
  padding: initial;
  border-radius: initial;
}

.design-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}

.design-card-id {
  font-size: var(--size-16);
  font-weight: 700;
  color: black;
  text-align: initial;
}

.img-container {
  width: 320px;
  height: 320px;
}
