.main-flex {
  display: flex;
  gap: 40px;
  position: relative;
  padding: 30px;
  justify-content: center;
  background-color: white;
}

.bg-color-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.bg-color-button {
  display: flex;
  background: none;
  border: 3px solid var(--color-alpha);
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: initial;
  cursor: pointer;
  position: relative;
  width: 220px;
}

.try-design-button {
  width: 200px;
  margin: auto;
  padding: 15px;
}

.bg-color-button img {
  display: block;
}

.details-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

.heading {
  color: var(--color-alpha);
  margin-bottom: 5px;
}

.heading,
.subheading {
  text-align: center;
}

.subheading {
  margin-top: 0;
  font-weight: 700;
}

.gallery-container {
  flex: 4;
}

.design-image {
  width: 520px;
}

.color-picker {
  position: absolute;
  min-height: 100px;
  left: -5px;
  right: -5px;
  top: 0;
  translate: 0% -107%;
  border-radius: 10px;
  padding: 8px;
  border: 3px solid var(--color-alpha);
  background-color: white;
}

.color-picker-swatches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.color-picker-swatch {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid black;
}

.selected-swatch {
  scale: 125%;
  border-width: 2px;
}

.selected-color-name {
  font-weight: 700;
}

.filters-tags-container div {
  margin: 10px 0;
}

.filters-tags-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1000px) {
  .main-flex {
    flex-direction: column;
    margin: auto;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: initial;
  }

  .details-area {
    justify-content: initial;
    gap: 20px;
  }

  .description {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .bg-color-container {
    flex-direction: column;
  }
}
