.bg {
  background-color: rgb(194, 194, 194);
}

.main-flex {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.library-text {
  margin: 30px 0;
}

.search-container {
  background-color: white;
  padding: 10px;
  flex: 1;
  max-width: 1024px;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
}

.settings-subcontainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.library-switcher-container {
  font-size: 1.25rem;
  margin-right: 5px;
}

.library-switcher-container input[type="radio"] {
  scale: 125%;
}

.settings-button {
  padding: 10px;
  font-size: var(--size-16);
  display: none;
  gap: 5px;
  cursor: pointer;
}

.searching-for-keywords {
  color: var(--color-alpha);
}

.searching-for-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.searching-for-area i {
  display: block;
}

.searching-for-area button {
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: var(--size-16);
}

@media screen and (max-width: 1200px) {
  .settings-button {
    display: flex;
  }
}
