.bg {
  background-color: lightgray;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.library-text {
  margin: 30px 0;
}

.search-container {
  background-color: white;
  padding: 10px;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
}

.settings-subcontainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.settings-button {
  padding: 10px;
  font-size: var(--size-16);
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.searching-for-keywords {
  color: var(--color-alpha);
}

.searching-for-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.searching-for-area i {
  display: block;
}

.searching-for-area button {
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: var(--size-16);
}
