.bg {
  background-color: rgb(194, 194, 194);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-flex {
  display: flex;
}

.library-text {
  margin: 30px 0;
}

.search-container {
  background-color: white;
  padding: 10px;
  flex: 1;
  max-width: 1024px;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
}

.settings-subcontainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.settings-button {
  padding: 10px;
  font-size: var(--size-16);
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.searching-for-keywords {
  color: var(--color-alpha);
}

.searching-for-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.searching-for-area i {
  display: block;
}

.searching-for-area button {
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: var(--size-16);
}

.sidebar {
  width: 200px;
  font-size: 0.85rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar-parent {
  font-weight: bold;
  padding: 3px;
  user-select: none;
}

.sidebar-parent:hover {
  background-color: rgb(192, 192, 192);
}

.sidebar-child,
.sidebar-parent {
  cursor: pointer;
  position: relative;
}

.sidebar-child-selected::before,
.sidebar-parent-selected::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-alpha);
  border-radius: 100px;
  content: "";
}

.sidebar-child-selected::before {
  translate: -125% 40%;
}

.sidebar-parent-selected::before {
  translate: -125% 70%;
}

.sidebar-parent + ul {
  padding-left: 25px;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }

  .main-flex {
    justify-content: center;
  }
}
