.instructions {
  text-align: center;
}

.main-flex {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 60px;
}

.main-category-container {
  display: flex;
}

.parent-category-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-action-button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.filter-action-button {
  padding: 10px;
}

.clear-selection-button {
  background-color: gray;
}

.subcategories-container {
  height: 300px;
  width: 250px;
}

.preview-designs-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.preview-designs-container {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-results {
  font-weight: 700;
  color: lightgray;
  font-size: var(--size-20);
}

.preview-designs-row {
  position: absolute;
  left: 0;
  display: flex;
}

.preview-design-image {
  width: 230px;
}
