.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 325px;
}

.buttons-flex {
  display: flex;
  justify-content: center;
}

.buttons-flex > a {
  width: 200px;
}

#featured-image-container {
  width: 94%;
}

@media screen and (max-width: 768px) {
  #featured-image-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .main {
    height: 380px;
  }

  #featured-image-container {
    width: 85%;
  }
}
