.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.buttons-flex {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
}

.buttons-flex > a {
  width: 200px;
}
