.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-results {
  font-weight: 700;
  font-size: var(--size-20);
}

.designs-overflow-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.designs-row {
  display: flex;
  position: absolute;
  transition: 0.2s;
  height: 100%;
}

.single-image-container {
  height: 100%;
  aspect-ratio: 1;
}

.design-image {
  display: block;
  margin: auto;
  height: 100%;
  scale: 90%;
  /* temporarily scaled down to show background color feature */
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
}

.left-button {
  left: 0;
  translate: -70% -50%;
}

.right-button {
  right: 0;
  translate: 70% -50%;
}

.inactive-img {
  opacity: 50%;
}
