.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: absolute;
  background-color: white;
  padding: 20px;
}

.close-x {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 7px;
  color: black;
  background: none;
}

@media screen and (max-width: 1000px) {
  .main {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
  }
}
