.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.main {
  position: absolute;
  background-color: white;
  padding: 20px;
}

.main .close-x {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 7px;
  color: black;
  background: none;
}

.main.max-height-730 {
  max-height: 730px;
  overflow: scroll;
}

@media screen and (max-width: 1000px) {
  .main {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
  }

  .main.max-height-730 {
    max-height: initial;
  }
}

@media screen and (max-height: 800px) {
  .main.tall {
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}
