.main {
  flex: 3;
  max-width: 500px;
}

.main h3 {
  font-size: 1.5rem;
}

.main label {
  display: block;
}

.main input {
  border-width: 1px;
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .horz-inputs {
  display: flex;
  gap: 10px;
}

.main .horz-inputs input {
  width: 50%;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.submit-container,
.buttons-container button,
.buttons-container a {
  flex: 1;
}

.buttons-container a {
  background: none;
  color: var(--color-alpha);
  border: 2px solid;
}
