.main {
  flex: 3;
  max-width: 500px;
}

.main label {
  display: block;
}

.main input {
  border-width: 1px;
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main .horz-inputs {
  display: flex;
}

.main .horz-inputs input {
  width: 50%;
}
