.search-row {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 600px;
  gap: 5px;
}

.search-row input {
  flex: 1;
  max-width: 400px;
}

.search-row button {
  cursor: pointer;
}

.input-catcher {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.radio-buttons-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.form-in-modal {
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.form-in-modal .radio-buttons-container {
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .search-row {
    flex-direction: column;
  }

  .radio-buttons-container {
    gap: 10px;
  }
}
