.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 80px;
}

.featured-image-container {
  margin: auto;
  width: 80%;
  height: 280px;
}

.featured-image {
  height: 100%;
  cursor: pointer;
}

.view-more-card {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view-more-card button {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
