:root {
  --color-alpha: #0068cb;

  --size-16: 1rem;
  --size-20: 1.25rem;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.inner-body {
  max-width: 1024px;
  margin: auto;
}

h1 {
  text-align: center;
}

a,
button,
.button-styled-checkbox + label {
  border-radius: 10px;
}

a,
button {
  background-color: var(--color-alpha);
  font-size: var(--size-20);
  color: white;
  padding: 20px;
  border: none;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

input[type="text"],
input[type="search"] {
  padding: 10px;
  font-size: var(--size-20);
  border-radius: 10px;
}

.link-black {
  background-color: black;
}

.button-styled-checkbox {
  display: none;
}

.button-styled-checkbox + label {
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  display: block;
}

.button-styled-checkbox:checked + label {
  background-color: black;
  color: white;
}

.design-img {
  width: 320px;
}

.bold {
  font-weight: 700;
}
