:root {
  --color-alpha: #0068cb;

  --size-16: 1rem;
  --size-20: 1.25rem;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.inner-body {
  /* max-width: 1400px; */
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

a,
button,
.button-styled-checkbox + label {
  border-radius: 10px;
}

a,
button {
  background-color: var(--color-alpha);
  font-size: var(--size-20);
  color: white;
  padding: 12px 15px;
  border: none;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

.normal-link {
  background-color: revert;
  font-size: revert;
  color: revert;
  padding: revert;
  border: revert;
  text-decoration: revert;
  display: revert;
  text-align: revert;
}

button:disabled {
  cursor: initial;
}

.button-minor {
  background-color: gray;
}

button:disabled {
  background-color: lightgray;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  border-radius: 10px;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"] {
  font-size: var(--size-20);
}

.link-black {
  background-color: black;
}

.button-styled-checkbox,
.text-styled-checkbox {
  display: none;
}

.button-styled-checkbox + label,
.text-styled-checkbox + label {
  cursor: pointer;
  display: block;
}

.button-styled-checkbox + label {
  padding: 8px;
  border: 1px solid black;
}

.button-styled-checkbox:checked + label {
  background-color: black;
  color: white;
}

.text-styled-checkbox:checked + label {
  font-weight: 700;
  color: var(--color-alpha);
}

.text-styled-checkbox:checked + label::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color-alpha);
  content: "";
  border-radius: 50px;
  margin-right: 2px;
}

.bold {
  font-weight: 700;
}

.text-minor {
  color: lightgray;
}
