:root {
  --color-alpha: #0068cb;
  --color-danger: rgb(218, 31, 31);

  --size-16: 1rem;
  --size-20: 1.25rem;
}

#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root * {
  box-sizing: border-box;
}

.inner-body {
  /* max-width: 1400px; */
  margin: auto;
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5 {
  all: revert;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
}

/* Fighting against WordPress plugins */
.root h2 {
  margin-bottom: revert !important;
}

.root a,
.root button,
.button-styled-checkbox + label {
  border-radius: 10px;
}

.root a,
.root button {
  background-color: var(--color-alpha);
  font-size: var(--size-20);
  color: white;
  padding: 12px 15px;
  border: none;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

.root .normal-link {
  background-color: revert;
  font-size: revert;
  color: revert;
  padding: revert;
  border: revert;
  text-decoration: revert;
  display: revert;
  text-align: revert;
}

.root button:disabled {
  cursor: initial;
}

.root .button-minor {
  background-color: gray;
}

.root button:disabled {
  background-color: lightgray;
}

.root input[type="text"],
.root input[type="search"],
.root input[type="email"],
.root input[type="tel"],
.root textarea {
  padding: 10px;
  border-radius: 10px;
}

.root input[type="text"],
.root input[type="search"],
.root input[type="email"],
.root input[type="tel"] {
  font-size: var(--size-20);
}

.link-black {
  background-color: black;
}

.button-styled-checkbox,
.text-styled-checkbox {
  display: none;
}

.button-styled-checkbox + label,
.text-styled-checkbox + label {
  cursor: pointer;
  display: block;
}

.button-styled-checkbox + label {
  padding: 8px;
  border: 1px solid black;
}

.button-styled-checkbox:checked + label {
  background-color: black;
  color: white;
}

.text-styled-checkbox:checked + label {
  font-weight: 700;
  color: var(--color-alpha);
}

.text-styled-checkbox:checked + label::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color-alpha);
  content: "";
  border-radius: 50px;
  margin-right: 2px;
}

.bold {
  font-weight: 700;
}

.text-minor {
  color: lightgray;
}
