:root {
  --color-alpha: #0068cb;

  --size-16: 1rem;
  --size-20: 1.25rem;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.inner-body {
  max-width: 1024px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

a,
button,
.button-styled-checkbox + label {
  border-radius: 10px;
}

a,
button {
  background-color: var(--color-alpha);
  font-size: var(--size-20);
  color: white;
  padding: 20px;
  border: none;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

input[type="text"],
input[type="search"] {
  padding: 10px;
  font-size: var(--size-20);
  border-radius: 10px;
}

.link-black {
  background-color: black;
}

.button-styled-checkbox,
.text-styled-checkbox {
  display: none;
}

.button-styled-checkbox + label,
.text-styled-checkbox + label {
  cursor: pointer;
  display: block;
}

.button-styled-checkbox + label {
  padding: 8px;
  border: 1px solid black;
}

.button-styled-checkbox:checked + label {
  background-color: black;
  color: white;
}

.text-styled-checkbox:checked + label {
  font-weight: 700;
  color: var(--color-alpha);
}

.text-styled-checkbox:checked + label::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color-alpha);
  content: "";
  border-radius: 50px;
  margin-right: 2px;
}

.design-img {
  width: 320px;
}

.bold {
  font-weight: 700;
}

.loading-spinner {
  display: block;
  filter: sepia(100) brightness(0.4) saturate(15) hue-rotate(158deg);
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
